:root {
  font-family: sans-serif;
  font-size: 18px;

  --c-bg: #1b2b34;
  --c-fg: #ffffff;
  --c-link: #28f2ae;
  --c-link-v: #5dc7ce;
  --c-link-h: #a1f4d8;
  --c-accent: #61f536;
}

a {
  color: var(--c-link);
}

a:hover {
  color: var(--c-link-h);
}

a:visited {
  color: var(--c-link-v);
}

html, body {
  margin: 0;
  padding: 0;
  background: var(--c-bg);
  color: var(--c-fg);
}

h1 {
  font-size: 2.2rem;
}

ol, ul {
  padding: 0;
  list-style-position: inside;
}

.toc {
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.home-link {
  position: fixed;
  top: -0.4rem;
  left: -0.5rem;
  background: white;
  color: var(--c-bg);
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-weight: bold;
  transform: rotate(-10deg);
  box-shadow: 0 0 5px 1px black;
}

.home-link:visited {
  color: var(--c-bg);
}
